{% load static %}
<div class="section-item" id="blog">
    <div class="home-blog default-padding bottom-less">

        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h4 class="sub-title">News & Article</h4>
                        <h2 class="title">Latest from blog</h2>
                        <div class="devider"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">

                <!-- Single item -->
                <div class="blog-style-one mb-30 col-xl-4 col-md-6">
                    <div class="item">
                        <div class="thumb">
                            <a href="blog-single-with-sidebar.html"><img src={% static "assets/img/blog/1.jpg" %} alt="Thumb"></a>
                            <div class="inner-date">
                                <strong>24</strong> March, 2023
                            </div>
                        </div>
                        <div class="info">
                            <h4>
                                <a href="blog-single-with-sidebar.html">Miscovery incommode earnestly commanded if.</a>
                            </h4>
                            <div class="meta">
                                <ul>
                                    <li>
                                        <a href="#">Md Sohag</a>
                                    </li>
                                    <li>
                                        <a href="#">16 Comments</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single item -->

                <!-- Single item -->
                <div class="blog-style-one mb-30 col-xl-4 col-md-6">
                    <div class="item">
                        <div class="thumb">
                            <a href="blog-single-with-sidebar.html"><img src={% static "assets/img/blog/2.jpg" %} alt="Thumb"></a>
                            <div class="inner-date">
                                <strong>17</strong> April, 2023
                            </div>
                        </div>
                        <div class="info">
                            <h4>
                                <a href="blog-single-with-sidebar.html">Expression acceptance imprudence particular</a>
                            </h4>
                            <div class="meta">
                                <ul>
                                    <li>
                                        <a href="#">Md Sohag</a>
                                    </li>
                                    <li>
                                        <a href="#">29 Comments</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single item -->

                <!-- Single item -->
                <div class="blog-style-one mb-30 col-xl-4 col-md-6">
                    <div class="item">
                        <div class="thumb">
                            <a href="blog-single-with-sidebar.html"><img src={% static "assets/img/blog/3.jpg" %} alt="Thumb"></a>
                            <div class="inner-date">
                                <strong>08</strong> July, 2023
                            </div>
                        </div>
                        <div class="info">
                            <h4>
                                <a href="blog-single-with-sidebar.html">Bethering occurs concerns removing desirous.</a>
                            </h4>
                            <div class="meta">
                                <ul>
                                    <li>
                                        <a href="#">Md Sohag</a>
                                    </li>
                                    <li>
                                        <a href="#">46 Comments</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single item -->

            </div>
        </div>
        
    </div>
</div>