{% load static %}
<div class="section-item animated" id="home">
    <div class="banner-style-one-area default-padding">
        <div class="container">
            <div class="banner-top">
                <div class="row align-center">
                    <div class="col-lg-7 pr-50 pr-md-15 pr-xs-15">
                        <div class="information">
                            <div class="content">
                                <h2>Hey <img src={% static "assets/img/shape/harnd.png" %} alt="image not found"> , Eu sou <br>Augusto Kussema</h2>
                                <p>
                                    I'm creative designer based in USA, and I'm <br> very passionate and dedicated to my work. Say Hello 
                                </p>
                                <a href="#contact" class="btn-standard mt-10 smooth-menu">Me contrate</a>
                            </div>
                            <div class="profile-grid">
                                <ul>
                                    <li>
                                        <a class="smooth-menu" href="#services">
                                            Serviços
                                            <div class="icon-list">
                                                <img src={% static "assets/img/icon/figma.png" %} alt="Image not Found">
                                                <img src={% static "assets/img/icon/wordpress.png" %} alt="Image not Found">
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="smooth-menu" href="#portfolio">
                                            Projectos
                                            <img src={% static "assets/img/shape/laptop.png" %} alt="Image Not Found">
                                        </a>
                                    </li>
                                    <li>
                                        <a class="smooth-menu" href="#about">
                                            Sobre
                                            <strong>A</strong>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="thumb">
                            <img src={% static "assets/img/illustration/1.png" %} alt="Imagem Não encontrada">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>