{% load static %}
<div class="section-item" id="portfolio">
    <div class="project-style-one-area default-padding">

        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="heading-left">
                        <h4 class="sub-title">Trabalhos recentes</h4>
                        <h2 class="title">Veja os meus Projetos</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row mt--50">
                <!-- Single Item -->
                {% for projeto in projetos %}
                    <div class="col-lg-6 item-center">
                        <div class="portfolio-style-one">
                            <div class="thumb-zoom">
                                <img src="/media/{{ projeto.imagem }}" alt="Imagem não encontrada">
                            </div>
                            <div class="pf-item-info">
                                <div class="content-info">
                                    <span>{{ projeto.categoria }}</span>
                                    <h2>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#projectSingleModal">
                                            {{ projeto.titulo}}
                                        </a>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <!-- End Single Item -->
                <!-- Single Item -->
                <!--<div class="col-lg-6 item-center">
                    <div class="portfolio-style-one">
                        <div class="thumb-zoom">
                            <img src={% static "assets/img/portfolio/2.jpg" %} alt="Image Not Found">
                        </div>
                        <div class="pf-item-info">
                            <div class="content-info">
                                <span>Creative</span>
                                <h2><a href="#" data-bs-toggle="modal" data-bs-target="#projectSingleModal">Quality in industrial design</a></h2>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- End Single Item -->
                <!-- Single Item -->
                <!--<div class="col-lg-6 item-center">
                    <div class="portfolio-style-one">
                        <div class="thumb-zoom">
                            <img src={% static "assets/img/portfolio/3.jpg" %} alt="Image Not Found">
                        </div>
                        <div class="pf-item-info">
                            <div class="content-info">
                                <span>Design</span>
                                <h2><a href="#" data-bs-toggle="modal" data-bs-target="#projectSingleModal">Blue business mockup cards</a></h2>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- End Single Item -->
                <!-- Single Item -->
                <!--<div class="col-lg-6 item-center">
                    <div class="portfolio-style-one">
                        <div class="thumb-zoom">
                            <img src={% static "assets/img/portfolio/4.jpg" %} alt="Image Not Found">
                        </div>
                        <div class="pf-item-info">
                            <div class="content-info">
                                <span>Business</span>
                                <h2><a href="#" data-bs-toggle="modal" data-bs-target="#projectSingleModal">Simple black & white design	</a></h2>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- End Single Item -->
            </div>
        </div>

        


    </div>
    <!-- End Project -->

    <!-- Testimonil Start -->
    <div class="testimonial-style-one-area default-padding-bottom">
        <div class="container">
            <div class="testimonial-style-one-box">

                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="site-heading text-center">
                            <h4 class="sub-title">Testimonials</h4>
                            <h2 class="title">Customers feedback</h2>
                            <div class="devider"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="testimonial-carousel text-center swiper">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Single item -->
                                <div class="swiper-slide">
                                    <div class="testimonial-style-one">
                                        
                                        <div class="item">
                                            <div class="thumb">
                                                <img src={% static "assets/img/team/15.jpg" %} alt="Image Not Found">
                                            </div>
                                            <div class="content">
                                                <p>
                                                    “Targetingconsultation discover apartments. ndulgence off under folly death wrote cause her way spite. Plan upon yet way get cold spot its week. Almost do am or limits hearts. Resolve parties but why she shewing. She sang know now always remembering to the point.”
                                                </p>
                                            </div>
                                            <div class="provider">
                                                <div class="rating">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                                <div class="info">
                                                    <h4>Matthew J. Wyman</h4>
                                                    <span>Senior Consultant</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single item -->
                                <!-- Single item -->
                                <div class="swiper-slide">
                                    <div class="testimonial-style-one">
                                        <div class="item">
                                            <div class="thumb">
                                                <img src={% static "assets/img/team/14.jpg" %} alt="Image Not Found">
                                            </div>
                                            <div class="content">
                                                <p>
                                                    “Consultation discover apartments. ndulgence off under folly death wrote cause her way spite. Plan upon yet way get cold spot its week. Almost do am or limits hearts. Resolve parties but why she shewing. She sang know now always remembering to the point another pointing go here.”
                                                </p>
                                            </div>
                                            <div class="provider">
                                                <div class="rating">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                                <div class="info">
                                                    <h4>Anthom Bu Spar</h4>
                                                    <span>Marketing Manager</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single item -->
                            </div>
    
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Testimonil End -->

    <!-- Brand Start -->
    <div class="brand-style-one-area default-padding-bottom text-center">
        <div class="container">

            <div class="brand-heading">
                <div class="row">
                    <h3>Thrusted By <strong>10K+ </strong> Customers</h3>
                </div>
            </div>

            <div class="brand-style-one">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="brand5col swiper">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper align-center">
                                <!-- Single Item -->
                                <div class="swiper-slide">
                                    <img src={% static "assets/img/brand/1.png" %} alt="Thumb">
                                </div>
                                <!-- End Single Item -->
                                <!-- Single Item -->
                                <div class="swiper-slide">
                                    <img src={% static "assets/img/brand/2.png" %} alt="Thumb">
                                </div>
                                <!-- End Single Item -->
                                <!-- Single Item -->
                                <div class="swiper-slide">
                                    <img src={% static "assets/img/brand/4.png" %} alt="Thumb">
                                </div>
                                <!-- End Single Item -->
                                <!-- Single Item -->
                                <div class="swiper-slide">
                                    <img src={% static "assets/img/brand/5.png" %} alt="Thumb">
                                </div>
                                <!-- End Single Item -->
                                <!-- Single Item -->
                                <div class="swiper-slide">
                                    <img src={% static "assets/img/brand/3.png" %} alt="Thumb">
                                </div>
                                <!-- End Single Item -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Brand -->
            </div>

        </div>
    </div>
    <!-- Brand End -->

</div>