{% load static %}
<div class="section-item" id="services">
    <div class="services-style-one-area pt-120 pt-xs-50 pb-70 pb-xs-0">

        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h4 class="sub-title">What i do</h4>
                        <h2 class="title">My Specializations</h2>
                        <div class="devider"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <!-- Single Item -->
                <div class="service-style-one col-lg-6 col-md-6">
                    <div class="service-style-one-item">
                        <div class="thumb">
                            <img src={% static "assets/img/icon/web-design.png" %} alt="Icon">
                        </div>
                        <div class="info">
                            <h4><a href="#" data-bs-toggle="modal" data-bs-target="#serviceSingleModal">Website design</a></h4>
                            <p>
                                Continue indulged speaking the was horrible for domestic position. Seeing get rather her you not esteem men settle is genius take excuse. Deal say over you age comparison new ham melancholy.
                            </p>
                            <div class="bottom">
                                <span>28 Projects</span>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#serviceSingleModal"><i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="service-style-one col-lg-6 col-md-6">
                    <div class="service-style-one-item">
                        <div class="thumb">
                            <img src={% static "assets/img/icon/app-development.png" %} alt="Icon">
                        </div>
                        <div class="info">
                            <h4><a href="#" data-bs-toggle="modal" data-bs-target="#serviceSingleModal">App Development</a></h4>
                            <p>
                                Continue indulged speaking the was horrible for domestic position. Seeing get rather her you not esteem men settle is genius take excuse. Deal say over you age comparison new ham melancholy.
                            </p>
                            <div class="bottom">
                                <span>1K Projects</span>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#serviceSingleModal"><i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="service-style-one col-lg-6 col-md-6">
                    <div class="service-style-one-item">
                        <div class="thumb">
                            <img src={% static "assets/img/icon/camera.png" %} alt="Icon">
                        </div>
                        <div class="info">
                            <h4><a href="#" data-bs-toggle="modal" data-bs-target="#serviceSingleModal">UX/UI Design</a></h4>
                            <p>
                                Continue indulged speaking the was horrible for domestic position. Seeing get rather her you not esteem men settle is genius take excuse. Deal say over you age comparison new ham melancholy.
                            </p>
                            <div class="bottom">
                                <span>74 Projects</span>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#serviceSingleModal"><i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="service-style-one col-lg-6 col-md-6">
                    <div class="service-style-one-item button">
                        <a class="hire-btn" href="#">hire me</a>
                    </div>
                </div>
                <!-- End Single Item -->
            </div>
        </div>
    </div>
    <!-- End Service -->

    <!-- Start Pricing -->
    <div class="pricing-style-one-area default-padding-bottom">
        <div class="container">
            <div class="row align-center">
                <div class="col-lg-12 col-xl-4">
                    <div class="pricing-left">
                        <h4 class="sub-title">Pricing</h4>
                        <h2 class="title">The best pricing plans</h2>
                        <ul class="list-rating mt-50">
                            <li>
                                Seller communication level
                                <div class="rating">
                                    <i class="fas fa-star"></i> 4.9
                                </div>
                            </li>
                            <li>
                                Recommend to a friend
                                <div class="rating">
                                    <i class="fas fa-star"></i> 5
                                </div>
                            </li>
                            <li>
                                Deliver on time
                                <div class="rating">
                                    <i class="fas fa-star"></i> 5
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12 col-xl-7 offset-xl-1">
                    <div class="pricing-style-one-items">

                        <div class="nav nav-tabs pricing-tab-navs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-id-1" data-bs-toggle="tab" data-bs-target="#tab1" type="button" role="tab" aria-controls="tab1" aria-selected="true">
                                <span>Monthly</span>
                            </button>
                            <button class="nav-link" id="nav-id-2" data-bs-toggle="tab" data-bs-target="#tab2" type="button" role="tab" aria-controls="tab2" aria-selected="false">
                                <span>Yearly</span>
                            </button>
                        </div>

                        <div class="tab-content pricing-tab-content" id="nav-tabContent">

                            <!-- Tab Single Item -->
                            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="nav-id-1">
                                <div class="row">
                                    <!-- Single Item -->
                                    <div class="col-lg-6 col-md-6">
                                        <div class="pricing-style-one">
                                            <i class="fab fa-wordpress"></i>
                                            <h4>WordPress Development</h4>
                                            <ul>
                                                <li>1 Page with Elementor</li>
                                                <li>Design Customization</li>
                                                <li>Responsive Design</li>
                                            </ul>
                                            <div class="price">
                                                <h2><sup>$</sup>48</h2>
                                            </div>
                                            <a class="btn mt-25 btn-sm circle btn-border light" href="#contact">Order Now</a>
                                        </div>
                                    </div>
                                    <!-- End Single Item -->
                                    <!-- Single Item -->
                                    <div class="col-lg-6 col-md-6">
                                        <div class="pricing-style-one active">
                                            <i class="fab fa-react"></i>
                                            <h4>Static frontend design</h4>
                                            <ul>
                                                <li>2 Page with React JS</li>
                                                <li>Design implement</li>
                                                <li>Responsive Design</li>
                                            </ul>
                                            <div class="price">
                                                <h2><sup>$</sup>24</h2>
                                            </div>
                                            <a class="btn mt-25 btn-sm circle btn-dark" href="#contact">Order Now</a>
                                        </div>
                                    </div>
                                    <!-- End Single Item -->
                                </div>
                            </div>
                            <!-- End Tab Single Item -->
        
                            <!-- Tab Single Item -->
                            <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="nav-id-2">
                                <div class="row">
                                    <!-- Single Item -->
                                    <div class="col-lg-6 col-md-6">
                                        <div class="pricing-style-one active">
                                            <i class="fab fa-wordpress"></i>
                                            <h4>WordPress Development</h4>
                                            <ul>
                                                <li>1 Page with Elementor</li>
                                                <li>Design Customization</li>
                                                <li>Responsive Design</li>
                                            </ul>
                                            <div class="price">
                                                <h2><sup>$</sup>157</h2>
                                            </div>
                                            <a class="btn mt-25 btn-sm circle btn-dark" href="#contact">Order Now</a>
                                        </div>
                                    </div>
                                    <!-- End Single Item -->
                                    <!-- Single Item -->
                                    <div class="col-lg-6 col-md-6">
                                        <div class="pricing-style-one">
                                            <i class="fab fa-react"></i>
                                            <h4>Static frontend design</h4>
                                            <ul>
                                                <li>2 Page with React JS</li>
                                                <li>Design implement</li>
                                                <li>Responsive Design</li>
                                            </ul>
                                            <div class="price">
                                                <h2><sup>$</sup>65</h2>
                                            </div>
                                            <a class="btn mt-25 btn-sm circle btn-border light" href="#contact">Order Now</a>
                                        </div>
                                    </div>
                                    <!-- End Single Item -->
                                </div>
                            </div>
                            <!-- End Tab Single Item -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Pricing -->


</div>