{% load static %}
<div class="section-item" id="about">
    <div class="about-style-one-area default-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="about-style-one-thumb">
                        <img src={% static "assets/img/illustration/2.jpg" %} alt="Image Not found">
                        <div class="curve-text">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" version="1.1">
                                <path id="textPath" d="M 0,75 a 75,75 0 1,1 0,1 z"></path>
                                <text><textPath href="#textPath">Years of experience</textPath></text>
                            </svg>
                            <h4>18</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1 mt-50">
                    <div class="about-style-one-info">
                        <h3 class="sub-title">About Me</h3>
                        <h2 class="title">I can develop <br> that help people</h2>
                        <p>
                            I'm creative designer based in USA, and I'm very passionate and dedicated to my work. Since all Weblium templates are developed on the basis of a deep study of the niche and harmoniously combine the most current trends in web design, sometimes it’s enough to simply choose a template, add your own unique content and get a beautiful website with the perfect navigation for your type of busin.
                        </p>
                        <!-- Single Item -->
                        <div class="about-item">
                            <h3><i class="fas fa-user"></i> Biography</h3>
                            <ul class="biography-table">
                                <li>
                                    <h5>Name</h5>
                                    <p>
                                        Md Sohag Miah
                                    </p>
                                </li>
                                <li>
                                    <h5>Birthday</h5>
                                    <p>
                                        24 March, 1994
                                    </p>
                                </li>
                                <li>
                                    <h5>Email</h5>
                                    <p>
                                        richard@hello.com
                                    </p>
                                </li>
                                <li>
                                    <h5>Skype</h5>
                                    <p>
                                        program540
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <!-- End Single Item -->

                        <!-- Single Item -->
                        <div class="about-item">
                            <h3><i class="fas fa-rocket"></i> Personal Skill</h3>
                            <ul class="skill-items mt-10">
                                <li>
                                    <div class="icon">
                                        <i class="fab fa-laravel"></i>
                                    </div>
                                    <div class="content">
                                        <span>75%</span>
                                        <h5>Object oriented programming</h5>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fab fa-react"></i>
                                    </div>
                                    <div class="content">
                                        <span>90%</span>
                                        <h5>Front-End with React</h5>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fab fa-html5"></i>
                                    </div>
                                    <div class="content">
                                        <span>89%</span>
                                        <h5>Advance frontend development</h5>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- End Single Item -->

                        <!-- Single Item -->
                        <div class="about-item">
                            <h3><i class="fas fa-graduation-cap"></i> Education</h3>
                            <ul class="education-table">
                                <li>
                                    <h4>AS - Science &amp; Information</h4>
                                    <h5>SuperKing College</h5>
                                    <span>2001 - 2005</span>
                                    <p>
                                        The training provided by universities in order to prepare people to work in various sectors of the economy or areas of culture. 
                                    </p>
                                </li>
                                <li>
                                    <h4>Sr. Software Engineer</h4>
                                    <h5>Google Out Tech</h5>
                                    <span>2017 - Present</span>
                                    <p>
                                        The training provided by universities in order to prepare people to work in various sectors of the economy or areas of culture. 
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <!-- End Single Item -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>